.header{
	color: rgb(100, 50, 50);
	font-weight: bold;
	position: relative;
	text-shadow: 0 0 2px rgb(0, 0, 0);
}

.jumbotron-fluid{
	background-color: rgb(225, 225, 225);
	height: 60px;
}

.signature{
	color: rgb(150, 150, 150);
	position: absolute;
	bottom: 5px;
	right: 5px;
}

html, body{
	background-color: rgb(50, 50, 50);
	height: 100%;
	width: 100%;
}
