html, body{
	height: 100%;
	width: 100%;
}

.jumbotron{
	margin-bottom: 0;
}

.navbar-nav .nav-item .nav-link .img-fluid{
	max-width: 38px;
}

.navbar-right{
	flex-direction: row;
}

.navbar-right > li{
	padding-right: .25rem;
	padding-left: .25rem;
}

.jumbotron,
.content{
	background: #e9ecef;
}

.carousel-item > img{
	max-width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 899px){
	.navbar-left > li{
		padding-right: .5rem;
		padding-left: .5rem;
	}

	.carousel-item > img{
		height: 300px;
	}

	.content{
		width: 90%;
	}
}
@media (max-width: 600px){
	.navbar-left > li{
		padding-right: .25rem;
		padding-left: .25rem;
	}

	.carousel-item > img{
		height: 250px;
	}

	.content{
		width: 95%;
	}
}

@media (min-width: 900px){
	.navbar-left > li{
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.carousel-item > img{
		height: 350px;
	}

	.content{
		width: 80%;
	}
}
@media (min-width: 1200px){
	.navbar-left > li{
		padding-right: 2rem;
		padding-left: 2rem;
	}

	.carousel-item > img{
		height: 400px;
	}

	.content{
		width: 70%;
	}
}
@media (min-width: 1500px){
	.navbar-left > li{
		padding-right: 3rem;
		padding-left: 3rem;
	}

	.carousel-item > img{
		height: 450px;
	}

	.content{
		width: 60%;
	}
}